:root{
    --color: #316887;
}
.square-boxOffer{
    max-width: 350px;
    min-height: 300px;
    background: #316887;
    border-radius: 21px;
    
}
.title{
    color: var(--color)
}
.btn {
    background: var(--color);
}
